// Colors
$background-color: #000000;
$header-color: #f2f2f7;
$text-color: #1c1c1e;
$text-color2: #f2f2f7;
$secondary-text-color: white;
$primary-color: #007aff;
$secondary-color: #34c759;
$shadow-color: rgba(0, 0, 0, 0.1);

// Typography
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size: 16px;