@import '../base/variables';

.create-artist-container {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #555;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $text-color2;
  }

  section {
    width: 98%;
    background-color: #444444;
    padding: 0.5rem;
    margin: 1.5rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }

  .title-container {
    background-color: #222;
    padding: 1rem;
    color: #fff;
    text-align: center;
  }

  /* Main table container */
  .artist-table {
    display: flex;
    flex-direction: column; /* Arrange rows vertically */
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
  }

  .artist-table-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: bold;
    background-color: #666;
    color: #fff;
    padding: 0.5rem 1rem;
  }

  .artist-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #777;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }

  .artist-row:hover {
    background-color: #444;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
  }

  .artist-row:last-child {
    border-bottom: none;
  }

  .artist-row > div {
    padding: 0.5rem 1rem;
  }

  /* General button styling */
  button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  /* Edit button styling */
  .edit-btn {
    background-color: #4caf50; /* Green */
    color: #fff;
    margin: 0 0.5rem;
  }

  .edit-btn:hover {
    background-color: #45a049; /* Darker green */
    transform: scale(1.05); /* Slight zoom effect */
  }

  /* Delete button styling */
  .delete-btn {
    background-color: #f44336; /* Red */
    color: #fff;
    margin: 0 0.5rem;
  }

  .delete-btn:hover {
    background-color: #e53935; /* Darker red */
    transform: scale(1.05); /* Slight zoom effect */
  }
}

