@import '../base/variables';

.edit-event-container {
  margin: 2rem 0;
  background-color: #555;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .title-container {

  }

  .event-form {
    display: flex;
    flex-wrap: wrap; /* Allow form groups to wrap */
    gap: 1.5rem; /* Space between form groups */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically (if needed) */

    form {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap onto the next column */
      gap: 1.5rem; /* Space between form groups */
      justify-content: space-between; /* Space items evenly */

      .form-group {
        display: flex;
        flex-direction: column; /* Keep label on top of input */
        width: calc(50% - 1.5rem); /* Take half the width of the parent minus gap */
        box-sizing: border-box;
        background-color: #494949;
        border-radius: 10px;
        padding: 1rem; /* Add padding inside the form group */

        label {
          margin-bottom: 0.5rem; /* Space between label and input */
          font-weight: bold;
          color: $text-color2;
          text-align: left;
        }

        input,
        textarea,
        select {
          width: 100%; /* Full width of the container */
          padding: 0.75rem;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 1rem;
          box-sizing: border-box; /* Ensure padding doesn't affect width */
        }

        textarea {
          resize: vertical;
          min-height: 100px;
        }

        input[type='file'] {
          padding: 0;
        }

        input[type='checkbox'] {
          width: auto;
          margin-top: 0.25rem;
        }
      }

      .submit-button {
        align-self: center; /* Ensure button aligns with the form container's center */
        width: 100%; /* Full width if desired */
        max-width: 300px; /* Set a maximum width */
        padding: 0.75rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        text-align: center; /* Ensure text inside the button is centered */
      }

      .submit-button:hover {
        background-color: #0056b3;
      }
    }
  }
}