// src/assets/styles/layout/_header.scss

@import '../base/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; // Ensures logo is on the left, links on the right
  padding: 1rem;
  background-color: $background-color;
  border-bottom: 1px solid lighten($shadow-color, 60%);
  box-shadow: 0 4px 6px $shadow-color;
  transition: transform 0.3s ease;
  z-index: 1000;

  &.hidden {
    transform: translateY(-80%);
  }

  &.visible {
    transform: translateY(0);
  }

  .logo {
    width: 8vw; // Responsive width based on viewport
    max-width: 50px; // Maximum width for larger screens
    height: auto;
    margin-left: 1vw;
    border-radius: 50%;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 2rem; // Space between links
    margin-right: 2vw;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;
      transition: color 0.3s;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}
